body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    margin: 50px auto;
    width: 40%;
    /*border: 5px solid #000000;*/
    padding: 10px;
    text-align: center  ;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}
td, th, tr{
    border: 2px solid black;
    margin: 50px;
    padding: 5px;
    font-family: sans-serif;
}
